@addTagHelper *, Homework
@model Homework.Data.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="my-4">
    SkillTree Blog
    <small>文章列表</small>
</h1>
<!-- Blog Post -->
@foreach (var item in Model.ArticlesList.Items)
{
    <vc:summary guid="@item.Id"></vc:summary>
}

<!-- Pagination -->
<pagination-helper info="Model"></pagination-helper>

@*<nav class="pagination justify-content-center">
        <ul class="pagination">
            <li class="page-item @(Model.ArticlesList.HasPreviousPage ? "":"disabled")"><a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@Model.ArticlesList.PageIndex-1">Previous</a></li>
            @for (var i = 0; i < Model.ArticlesList.TotalPages; i++)
            {
                <li class="page-item @(Model.ArticlesList.PageIndex == @i ? "active":"")"><a class="page-link " asp-controller="Home" asp-action="Index" asp-route-page="@i">@(i+1)</a></li>
            }
            <li class="page-item @(Model.ArticlesList.HasNextPage ? "":"disabled")"><a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@Model.ArticlesList.PageIndex+1">Next</a></li>
        </ul>
    </nav>*@